<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://deathray.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>deathray.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>deathray</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$deathray</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fdgy4ejkgd.database.windows.net,1433;Initial Catalog=deathray_db;User ID=deathrayuser@fdgy4ejkgd;Password=tTJ)A2/qQgxpCM3t" Name="Data Source=tcp:fdgy4ejkgd.database.windows.net,1433;Initial Catalog=deathray_db;User Id=deathrayuser@fdgy4ejkgd;Password=tTJ)A2/qQgxpCM3t" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DeathRay.Models.ApplicationDbContext, DeathRay" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fdgy4ejkgd.database.windows.net,1433;Initial Catalog=deathray_db;User Id=deathrayuser@fdgy4ejkgd;Password=tTJ)A2/qQgxpCM3t</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>