
@{
    ViewBag.Title = "Minion Work";
}

<div class="text-center">
    <h2>Time to Work, Minion!</h2>
    <br />
    <button id="minionClickBtn" class="round-button">PRESS</br>ME</button>

    <div id="clickTotalContainer"><span id="clickTotal">---</span></br><span class="sub">clicks</span></div>
</div>

@section scripts {
<script>
    $(document).ready(function () {
        var pollingPeriod = 5000;
        var timeoutID;

        $('#minionClickBtn').click(function () {
            $.post('@Url.Action("Click","MinionClick")', function (data) {
                clearTimeout(timeoutID);
                pollingPeriod = 200;
                updateClickTotal();
            });
        });
        $('#minionClickBtn').mousedown(function () {
            $('#minionClickBtn').addClass('btnDown');
        });
        $('#minionClickBtn').mouseup(function () {
            $('#minionClickBtn').removeClass('btnDown');
        });

        function updateDisplay(data)
        {
            $('#clickTotal').text(data.ClickTotal);
        }

        function updateClickTotal()
        {
            $.getJSON('@Url.Action("Total","MinionClick")', function (data) {
                updateDisplay(data);
            });
            pollingPeriod = Math.min(pollingPeriod * 1.2, 5000);
            timeoutID = setTimeout(updateClickTotal, pollingPeriod);
        }
        updateClickTotal();
    })
</script>
}


